{% extends "layout/root.html" %}
{% block content %}

<br><h1 style="color: #e74c3c">Se connecter</h1><br>
    <form method="post" action="/connectmoi">
        <div class="form-group mx-sm-3 row">
            <label for="email" class="col-sm-2">* Email : </label>
            <input id="email" name="email" type="text" class="form-control col-sm-3">
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="password" class="col-sm-2">* Mot de passe : </label>
            <input id="password" name="password" type="text" class="form-control col-sm-3" required>
        </div>
        <button class="btn btn-submit  mx-sm-3" type="submit" style="background-color: #e74c3c; color: white;">Ajouter</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes form-group mx-sm-3 row">
        {% for message in messages %}
            <label class="col-sm-2"> {{ message }} </label>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

{% endblock content %}