{% extends "layout/root.html" %}
{% block content %}
    <br><h1 style="color: #e74c3c">Ajouter un jeu</h1><br>
    <form method="post" action="/create_post">
        <div class="form-group mx-sm-3 row">
            <label for="title" class="col-sm-2">* Titre : </label>
            <input id="title" name="title" type="text" class="form-control col-sm-3">
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="author" class="col-sm-2">* Studio : </label>
            <input id="author" name="author" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="category" class="col-sm-2">* Categorie : </label>
            <input id="category" name="category" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="description" class="col-sm-2">* Description : </label>
            <textarea id="description" name="description" class="form-control col-sm-3" required></textarea>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="published" class="col-sm-2">* Publié en : </label>
            <input id="published" name="published" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="image" class="col-sm-2">* Image : </label>
            <input id="image" name="image" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="link" class="col-sm-2"> * Lien du site officiel : </label>
            <input id="link" name="link" type="text" class="form-control col-sm-3" required>
        </div>
        <button class="btn btn-submit  mx-sm-3" type="submit" style="background-color: #e74c3c; color: white;">Ajouter</button>
    </form>

    {% for game in games %}
        <br><h1 style="color: #e74c3c">Modifier un jeu</h1><br>
        <p>{{game.title}}</p>
        <form method="POST" action="/update_post">
            <input type="hidden" value="{{ game.title }}" name="oldtitle">
            <input type="text" value="{{ game.title }}" name="newtitle">
            <input type="submit" value="Update">
        </form>
     {% endfor %}
{% endblock content %}