
{% extends "layout/root.html" %}
{% block content %}
  <section class="cards" style="margin-top: 50px">
    {% for jeu in jeux %}
      <article class="card">
        <a href="/jeux/{{jeu['nom']}}" target="_blank">
          <figure class="thumbnail">
          <img src="{{jeu['image']}}">

          </figure>
          <div class="card-content">
            <h2>{{jeu['nom']}}</h2>
            <p>{{jeu['prix']}} euro</p>
            <h4>Studio : {{jeu['note']}} / 10</h4>

          </div>
          <!-- .card-content -->
        </a>
      </article>
    {% endfor %}
  </section>
{% endblock content %}