<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profil</title>
</head>
{% extends "layout/root.html" %}
<body>
    {% block content %}
    <br><h1 style="color: #e74c3c"> {{ jeux.nom }}</h1><br>
    <form method="post" action="/create_userPost">
        <div class="form-group mx-sm-3 row">
            <label for="nom" class="col-sm-2">* Prix : {{ jeux.prix }} euro</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="prenom" class="col-sm-2">* Note : {{ jeux.note }} / 10</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <img src="{{jeux['image']}}">
        </div>
        <div>
            <button  class="btn btn-submit  mx-sm-3" style="background-color: #e74c3c; color: white;" >
                <a href="/">Acheter</a>
            </button>
        </div>
    </form>


    {% endblock %}
</body>

</html>