<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profil</title>
</head>
{% extends "layout/root.html" %}
<body>
    {% block content %}
    <br><h1 style="color: #e74c3c">Votre profil</h1><br>
    <form method="post" action="/create_userPost">
        <div class="form-group mx-sm-3 row">
            <label for="nom" class="col-sm-2">* Nom : {{ user.nom }}</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="prenom" class="col-sm-2">* Prenom : {{ user.prenom }}</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="age" class="col-sm-2">* Age : {{ user.age }}</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="email" class="col-sm-2">* Email : {{ user.email }}</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="date_naissance" class="col-sm-2">* Date de naissance : {{ user.date_naissance}}</label>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="solde" class="col-sm-2">* Solde : {{ user.solde }}</label>
        </div>
        <div>
            <button  class="btn btn-submit  mx-sm-3" style="background-color: #e74c3c; color: white;" >
                <a href="/update_deleteUser/{{user['email']}}">Modifier le profile</a>
            </button>
        </div>
    </form>


    {% endblock %}
</body>

</html>