{% extends "layout/root.html" %}
{% block content %}
    <br><h1 style="color: #e74c3c">S'enregistrer</h1><br>
    <form method="post" action="/create_userPost">
        <div class="form-group mx-sm-3 row">
            <label for="nom" class="col-sm-2">* Nom : </label>
            <input id="nom" name="nom" type="text" class="form-control col-sm-3">
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="prenom" class="col-sm-2">* Prenom : </label>
            <input id="prenom" name="prenom" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="age" class="col-sm-2">* Age : </label>
            <input id="age" name="age" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="email" class="col-sm-2">* Email : </label>
            <textarea id="email" name="email" type="text" class="form-control col-sm-3" required></textarea>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="password" class="col-sm-2">* Password : </label>
            <input id="password" name="password" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="date_naissance" class="col-sm-2">* Date de naissance : </label>
            <input id="date_naissance" name="date_naissance" type="text" class="form-control col-sm-3" required>
        </div>
        <div class="form-group mx-sm-3 row">
            <label for="solde" class="col-sm-2">* Solde : </label>
            <input id="solde" name="solde" type="text" class="form-control col-sm-3" required>
        </div>
        <button class="btn btn-submit  mx-sm-3" type="submit" style="background-color: #e74c3c; color: white;">Ajouter</button>
    </form>

     {% endblock content %}