<div class="searchbox animated zoomIn">
    <form method="get" action="search-admin">
      <input oninput="triggercross(this.value)" type="search" name="query" id="query" placeholder="Cherchez précisément ce que vous voulez" class="search" required><i class="fas fa-search"></i>
      <button onclick="close1()" id="closeid" type="reset" class="close">
        <i class="fas fa-times"></i>
        <p id="demo"></p>
      </button>
    </form>
  </div>
  {% extends "layout/root.html" %}
  {% block content %}
    <html>
      <body>
        <h1 style="margin-top: 50px">Mettre à jour les jeux ou les supprimer</h1>
        {% for jeu in games %}
          <div class="card-content">
            <h2>{{jeu.title}}</h2>
          </div>
          <form method="POST" action="./update">
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{jeu.title}}" name="oldtitle" class="form-control col-sm-3">
              <input type="text" value="{{jeu.title}}" name="newtitle" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{jeu.author}}" name="oldauthor" class="form-control col-sm-3">
              <input type="text" value="{{jeu.author}}" name="newauthor" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{jeu.category}}" name="oldcategory" class="form-control col-sm-3">
              <input type="text" value="{{jeu.category}}" name="newcategory" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <textarea name="newdescription" class="form-control">{{jeu.description}}</textarea>
              <input type="hidden" value="{{jeu.description}}" name="olddescription" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{jeu.published}}" name="oldpublished" class="form-control col-sm-3">
              <input type="text" value="{{jeu.published}}" name="newpublished" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{jeu.image}}" name="oldimage" class="form-control col-sm-3">
              <input type="text" value="{{jeu.image}}" name="newimage" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{jeu.link}}" name="oldlink" class="form-control col-sm-3">
              <input type="text" value="{{jeu.link}}" name="newlink" class="form-control col-sm-3">
            </div>
            <input class="btn btn-submit  mx-sm-3" style="background-color: #e74c3c; color: white;" type="submit" value="Mettre à jour">
          </form>
          <form method="POST" action="./delete">
            <input type="hidden" value="{{jeu.title}}" name="title">
            <input type="hidden" value="{{jeu.author}}" name="author">
            <input type="hidden" value="{{jeu.category}}" name="category">
            <input type="hidden" value="{{jeu.description}}" name="description">
            <input type="hidden" value="{{jeu.published}}" name="published">
            <input type="hidden" value="{{jeu.image}}" name="image">
            <input type="hidden" value="{{jeu.link}}" name="link">
            <input class="btn btn-submit  mx-sm-3" style="background-color: #e74c3c; color: white;" type="submit" value="Supprimer">
          </form>
        {% endfor %}
  
      </body>
    </html>
  {% endblock content %}