{% extends "layout/root.html" %}
  {% block content %}
    <html>
      <body>
        <h1 style="margin-top: 50px">Modifier vos paramettres</h1>
          <div class="card-content">
          </div>
          <form method="POST" action="/update_user">
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{user.nom}}" name="oldnom" class="form-control col-sm-3">
              <input type="text" value="{{user.nom}}" name="newnom" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{user.prenom}}" name="oldprenom" class="form-control col-sm-3">
              <input type="text" value="{{user.prenom}}" name="newprenom" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{user.age}}" name="oldage" class="form-control col-sm-3">
              <input type="text" value="{{user.age}}" name="newage" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <textarea name="newdescription" class="form-control">{{user.email}}</textarea>
              <input type="hidden" value="{{user.email}}" name="oldemail" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{user.password}}" name="oldpassword" class="form-control col-sm-3">
              <input type="text" value="{{user.password}}" name="newpassword" class="form-control col-sm-3">
            </div>
            <div class="form-group mx-sm-3 row">
              <input type="hidden" value="{{user.date_naissance}}" name="olddate_naissance" class="form-control col-sm-3">
              <input type="text" value="{{user.date_naissance}}" name="newdate_naissance" class="form-control col-sm-3">
            </div>
            <input class="btn btn-submit  mx-sm-3" style="background-color: #e74c3c; color: white;" type="submit" value="Mettre à jour">
          </form>
  
      </body>
    </html>
  {% endblock content %}