<header class="masthead clear">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://kit.fontawesome.com/ebfafc2eb8.js" crossorigin="anonymous"></script>
    <div class="centered">
  
      <div class="site-branding">
        <a class="a_site-title" href="{{ url_for('index') }}" style="text-decoration: none"><h1 class="site-title">Blog - Jeux vidéo</h1></a>
      </div>
      <div class="div-link">
      {% if current_user.is_authenticated %}
        <button class="btn btn-link"><a href="{{ url_for('deconnect') }}">Se déconnecter</a></button>
        <button class="btn btn-link"><a href="/profile/{{current_user['email']}}">Profile</a></button>
      {% else %}
        <button class="btn btn-link"><a href="{{ url_for('connexion') }}">Se connecter</a></button>
        <button class="btn btn-link"><a href="{{ url_for('create_getuser') }}">S'inscrire</a></button>
      {% endif %}

      </div>
    </div>
    <!-- .centered -->
  </header>
  <!-- .masthead -->
  
  <main class="main-area">
  
    <div class="centered">
  
      {% block content %}
  
      {% endblock content %}
      <!-- .cards -->
  
    </div>
    <!-- .centered -->
  
  </main>
  
  <style>
  
  body{
  margin: 0;
  padding: 0;
  }
  
  body {font-family: sans-serif;}
  p {color: #666;}
  
  h2 {
  font-size: 2em;
  color: #e74c3c;
  }
  .centered {
    margin: 0 auto;
    padding: 0 1em;
  }
  
  .fa-search{
    background: transparent;
    border: none !important;
  }
  
  .btn-link{
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
  }
  
  
  @media screen and (min-width: 52em) {
    .centered {
        max-width: 80em;
    }
  }
  
  /*--------------------------------------------------------------
  Header styles minus menu
  --------------------------------------------------------------*/
  
  
  /*--------------------------------------------------------------
  Search bar
  --------------------------------------------------------------*/
  .searchbox{
      position: absolute;
      top: 4.5vw;
      left: 40%;
      display: inline-block;
      margin-left: 1.5rem;
    }
    .searchbox input:focus {
      outline: none; /*by default,input shows an outline on focus */
    }
    .searchbox input{
      z-index: 0;
      margin-top: 8%;
      width: 130%;
      height: 40px;
      background:#f1f3f4;
      border-radius: 25px;
      border: 2px solid #f1f3f4;
    }
  
  #closeid{
    display: none;
  }
   .fa-search{
       position: absolute;
       top:42%;
       left:5%;
       color:#8e99a4;
   }
   .close{
          position: absolute;
          top:30%;
          right:-25%;
          color:#8e99a4;
          border: none;
            padding: 0;
   }
   .search{
    color:#8e99a4;
    font-weight: 400;
    padding-left: 50px;
    font-size: 18px;
    z-index: 3;
  
   }
   .fa-times{
       position: absolute;
    top:30%;
    right:5%;
   }
  
  /*--------------------------------------------------------------
  Search bar
  --------------------------------------------------------------*/
  
  .masthead {
    background: #e74c3c;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  
  .a_site-title:hover{
    text-decoration: none;
  }
  
  .site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
  }
  
  
  .search-form{
      position: absolute;
      top: 120px;
      left: 80%;
      transform: translate(-50%,-50%);
      transition: all 1s;
      width: 30px;
      height: 30px;
      background: white;
      box-sizing: border-box;
      border-radius: 25px;
      border: 4px solid white;
      padding: 5px;
  }
  
  .search-input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25px;
      line-height: 25px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
  }
  
  .search-btn{
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: #e74c3c;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
  }
  
  .search-form:hover{
      width: 200px;
      cursor: pointer;
  }
  
  .search-form:hover .search-input{
      display: block;
  }
  
  .search-form:hover .search-btn{
      background-color: #e74c3c;
      color: white;
  }
  
  .btn-link{
    padding-bottom: -100px;
    color: white;
    text-decoration: none;
  }
  
  .btn-link:hover{
    color: white;
    text-decoration: none;
  }
  
  .btn-link a {
    text-decoration: none;
    color: white;
  }
  
  @media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
  }
  
  @media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
  }
  
  .site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
  }
  
  .site-title a:hover {
    text-decoration: underline;
  }
  
  /* Card Based Layout - Base styles */
  body {
  background: #ecf0f1;
  line-height: 1.4;
  }
  
  .site-title {
    color: white;
    font-weight: 600;
    font-size: 2.5em;
  }
  
  .card {
  background: white;
  margin-bottom: 2em;
  }
  
  .card a {
  color: black;
  text-decoration: none;
  }
  
  .card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  
  .card-content {
  padding: 1.4em;
  }
  
  .card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
  }
  
  .card-content p {
  font-size: 95%;
  }
  
  img {
  width: 100%;
  height: auto;
  }
  
  /* Flexbox styles */
  @media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
  }
  
  @media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
      }
    }
  }
  </style>
  
  <script>
    function triggercross(val) {
      var val = document.getElementById("search");
      var x = document.getElementById("closeid");
      x.style.display = "block";
  }
  
  function close1() {
  
      // document.getElementById("demo").innerHTML = "You wrote: " + val;
      var x = document.getElementById("closeid");
      if (x.style.display == "block") {
          x.style.display = "none";
      } else {
          x.style.display = "block";
      }
  }
  
  </script>